:root {
  --font-family: "Glory", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Roboto", sans-serif;
  --font4: "Inria Serif", sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background: #313131;
}

.header__stripe {
    display: flex;
    gap: 180px;
    padding-top: 15px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.header__logo-subtitle {
    font-family: var(--font4);
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.header__nav {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.header__nav-search {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.header__nav-search img {
    width: 24px;
    height: 24px;
}

.header__nav-notifications {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.header__nav-notifications img {
    width: 24px;
    height: 24px;
}

.header__account-button {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    padding: 12px 32px;
    width: 211px;
    height: 46px;
    background: #d10000;
}

.main {
    background-image: url(./images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.hero {
    display: flex;
    gap: -20px;
    padding-top: 165px;
    padding-bottom: 210px;
}

.hero__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #313131;
    max-width: 635px;
}

.hero__subtitle {
    max-width: 550px;
    padding-top: 40px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #313131;
}

.hero__subsubtitle {
    max-width: 430px;
    padding-top: 70px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #313131;
    padding-bottom: 50px;
}

.hero__mail-input-form {
    display: flex;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    width: 498px;
    height: 73px;
}

.input__form {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #bfbfbf;
    width: 295px;
    padding-left: 18px;
}

.input__send-button {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    border-radius: 0 10px 10px 0;
    width: 203px;
    height: 73px;
    background: #d10000;
    text-align: center;
    padding-top: 25px;
}

.hero__image-car {
    padding-left: -20px;
}

.hero__notification-mark {
    position: absolute;
    left: 1210px;
}

.hero__heart-mark {
    position: absolute;
    left: 1475px;
    top: 315px;
}

.hero__search-mark {
    position: absolute;
    left: 955px;
    top: 335px;
}

.hero__check-mark {
    position: absolute;
    left: 1310px;
    top: 580px;
}

.settings {
    display: flex;
    gap: 32px;
}

.settings__parametres {
    border-radius: 27px;
    width: 604px;
    height: 466px;
    box-shadow: 0 0 11px 0 rgba(70, 69, 69, 0.25);
}

.settings__top-plate {
    border-radius: 27px;
    width: 604px;
    height: 80px;
    box-shadow: 0 0 11px 0 rgba(70, 69, 69, 0.25);
    display: flex;
    gap: 165px;
}

.top-plate__left-col {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 40px;
}

.top-plate__region-button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 129%;
    color: #313131;
}

.top-plate__right-col {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 129%;
    color: #313131;
}

.top-plate__reset-button {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-plate__collapse-button {
    display: flex;
    gap: 5px;
}

.settings__bottom-plates {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.bottom-plates__first-plate {
    padding-top: 20px;
    display: flex;
    gap: 33px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 129%;
    color: #313131;
}

.brand-button__input {
    margin-top: 4px;
    font-family: var(--second-family);
    font-size: 14px;
    color: #cfcfcf;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 6px 12px;
    width: 246px;
    height: 30px;
}

.brand-button__button {
    position: absolute;
    margin-left: -24px;
    margin-top: 8px;
}

.model-button__input {
    margin-top: 4px;
    font-family: var(--second-family);
    font-size: 14px;
    color: #cfcfcf;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 6px 12px;
    width: 246px;
    height: 30px;
}

.model-button__button {
    position: absolute;
    margin-left: -24px;
    margin-top: 8px;
}

.bottom-plates__second-plate {
    display: flex;
    gap: 33px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 129%;
    color: #313131;
}

.type-button__choice {
    padding-top: 4px;
    font-family: var(--font-family);
    font-size: 14px;
    color: #d10000;
    text-align: center;
    display: flex;
    align-items: center;
}

.type-button__choice-button {
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding: 4px 12px;
    background: white;
    width: 122px;
}

.second-plate__mileage-button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 129%;
    color: #313131;
}

.mileage-button__choice {
    padding-top: 4px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mileage-button__choice-button {
    font-family: var(--second-family);
    font-size: 14px;
    color: #cfcfcf;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 6px 12px;
    width: 116px;
    height: 30px;
}

.mileage-button__choice-input {
    font-family: var(--second-family);
    font-size: 14px;
    color: #cfcfcf;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 6px 12px;
    width: 116px;
    height: 30px;
    text-align: center;
}

.bottom-plates__third-plate {
    display: flex;
    gap: 33px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 129%;
    color: #313131;
}

.volume-button__input {
    margin-top: 4px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #cfcfcf;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 6px 12px;
    width: 246px;
    height: 30px;
}

.volume-button__button {
    position: absolute;
    margin-left: -24px;
    margin-top: 8px;
}

.power-button__inputs {
    display: flex;
    gap: 15px;
}

.power-button__input {
    margin-top: 4px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: #cfcfcf;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 6px 12px;
    width: 116px;
    height: 30px;
}

.power-button__button1 {
    position: absolute;
    margin-left: 92px;
    margin-top: 8px;
}

.power-button__button2 {
    position: absolute;
    margin-left: 222px;
    margin-top: 8px;
}

.bottom-plates__fourth-plate {
    display: flex;
    gap: 33px;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 129%;
    color: #313131;
    padding-bottom: 32px;
}

.transimission-button__input {
    margin-top: 4px;
    font-family: var(--second-family);
    font-size: 14px;
    color: #cfcfcf;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 6px 12px;
    width: 246px;
    height: 30px;
}

.transimission-button__button {
    position: absolute;
    margin-left: -24px;
    margin-top: 8px;
}

.drive-button__choice {
    padding-top: 4px;
    font-family: var(--font-family);
    font-size: 14px;
    color: #d10000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drive-button__button {
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    width: 82px;
    height: 30px;
    padding-top: 4px;
}

.settings__show-button {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    padding: 12px 24px;
    width: 314px;
    height: 46px;
    background: #d10000;
    margin-left: 250px;
}

.settings__signatures {
    padding-left: 32px;
    padding-top: 90px;
}

.settings__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #313131;
}

.settings__subtitle {
    padding-top: 33px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #313131;
}

.settings__partners {
    padding-top: 16px;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: #313131;
}

.searches {
    padding-top: 60px;
    display: flex;
    gap: 32px;
}

.searches__left-col {
    padding-right: 53px;
}

.search__logo {
    padding-top: 100px;
}

.searches__title {
    padding-top: 32px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #313131;
}

.searches__subtitle {
    padding-top: 32px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #313131;
}
