:root {
  --font-family: "Glory", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Roboto", sans-serif;
  --font4: "Inria Serif", sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background: #313131;
}

.header__stripe {
    display: flex;
    gap: 180px;
    padding-top: 15px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.header__logo-subtitle {
    font-family: var(--font4);
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.header__nav {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.header__nav-search {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.header__nav-search img {
    width: 24px;
    height: 24px;
}

.header__nav-notifications {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.header__nav-notifications img {
    width: 24px;
    height: 24px;
}

.header__account-button {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    padding: 12px 32px;
    width: 211px;
    height: 46px;
    background: #d10000;
}

.main {
    background-image: url(./images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.hero {
    display: flex;
    gap: -20px;
    padding-top: 165px;
    padding-bottom: 210px;
}

.hero__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    color: #313131;
    max-width: 635px;
}

.hero__subtitle {
    max-width: 550px;
    padding-top: 40px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    color: #313131;
}

.hero__subsubtitle {
    max-width: 430px;
    padding-top: 70px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #313131;
    padding-bottom: 50px;
}

.hero__mail-input-form {
    display: flex;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    width: 498px;
    height: 73px;
}

.input__form {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #bfbfbf;
    width: 295px;
    padding-left: 18px;
}

.input__send-button {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    border-radius: 0 10px 10px 0;
    width: 203px;
    height: 73px;
    background: #d10000;
    text-align: center;
    padding-top: 25px;
}

.hero__image-car {
    padding-left: -20px;
}

.hero__notification-mark {
    position: absolute;
    left: 1210px;
}

.hero__heart-mark {
    position: absolute;
    left: 1475px;
    top: 315px;
}

.hero__search-mark {
    position: absolute;
    left: 955px;
    top: 335px;
}

.hero__check-mark {
    position: absolute;
    left: 1310px;
    top: 580px;
}

